<!DOCTYPE html>
<html lang="{{ meta Language }}">
<head>
{{ include head.html }}
</head>
<body>
{{ include site_header.html }}
<div class="container">
<article style="margin-top: 1rem">
<h1>{{ meta PostTitle }}</h1>
<img class="img-head" src="{{ meta Graphic.Url }}" alt="Image for {{ meta Graphic.Alt }}" />
<div class="datetime-author"><time datetime="{{ meta PostDateTime }}">{{ meta PostDate }}</time>, by {{ meta Author.Name }}</div>
<h2>{{ meta SubTitle }}</h2>
<p>{{ meta Intro }}</p>
{{ meta MarkdownContent }}
</article>
{{ include footer.html }}
</div> <!-- End of container -->
</body>
</html>